---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-primary: #8ABE00;
$gray: #464648;

@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic');
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'base';
@import 'typography';
@import 'nav';
@import 'slider';
@import 'footer';

body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 26px;
  position: relative;
}

hr {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #FFF;
}

.gradiant {
  background-color: #464648;
}
.gradiant-horizontal {
  background-color: #464648;
}

.section-header {
  margin-bottom: 50px;
  .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 35px;
    margin: 0 0 35px;
    &:before {
      content: "";
      position: absolute;
      width: 140px;
      bottom: 0;
      left: 50%;
      margin-left: -70px;
      height: 1px;
      background: $gray-light;
    }
    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -11px;
      left: 50%;
      margin-left: -12px;
      border: 5px solid #FFF;
      border-radius: 20px;
      background: $brand-primary;
    }
  }
}

#contact .section-title:after {
  border-color: $gray;
}

#newsletter .section-title:after,
#gallery .section-title:after {
  border-color: $gray-lighter;
}


.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 15px;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 40%;
    border-bottom: 1px solid $brand-primary;
  }
}

ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  i {
    color: $brand-primary;
  }
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.media.service-box {
  margin: 0 0 50px;
  .media-heading {
    margin-bottom: 15px;
    text-align: center;
    .fa {
      display: block;
      font-size: 28px;
      height: 64px;
      line-height: 63px;
      width: 64px;
      border-radius: 50%; 
      color: $brand-primary;
      border: 1px solid $gray-light;
      transition: background-color 400ms, background-color 400ms;
      position: relative;
      margin: 0 auto 20px;
      &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 100%;
        margin: -10px 0 0 -10px;
        left: 50%;
        border: 4px solid #FFF;
        border-radius: 20px;
        background: $brand-primary;
      }
    }
  }
  &:hover {
    .media-heading {
      .fa {
        background-color: #464648;
        color: #FFF;
        border: 5px solid $brand-primary;
        line-height: 55px;
        &:after {
          margin-top: -6px;
        }
      }
    }
  }
}

#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #FFF;
}
#work-process h2 {
  color: #FFF;
}
#work-process h3 {
  color: #FFF;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid $brand-primary;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-primary;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#work-process h3 {
  margin-bottom: 50px;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #FFF 0%, #e3e3e3 49%, #FFF 100%);
  background-image: -webkit-linear-gradient(180deg, #FFF 0%, #e3e3e3 49%, #FFF 100%);
  background-image: -ms-linear-gradient(180deg, #FFF 0%, #e3e3e3 49%, #FFF 100%);
  width: 95%;
  height: 1px;
}

.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: $gray-lighter;
  .progress-bar.progress-bar-primary {
    background-color: #464648;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.tab-content {
  border: 1px solid $gray-lighter;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}

.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
