

#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #FFF;
}
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #FFF;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #FFF;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid $gray-lighter;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: $gray-lighter;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-color: #464648;
  color: #FFF;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #FFF;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-color: #464648;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #FFF;
}

#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid $gray-lighter;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #FFF;
  background: #222534;
  border: 3px solid #FFF;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $brand-primary;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: $brand-primary;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $brand-primary;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: $brand-primary;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid $gray-lighter;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: $brand-primary;
}

#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: $gray-lighter;
  border: 2px solid $gray-lighter;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: $brand-primary;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: $brand-primary;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #FFF;
  background: #222534;
  border-radius: 3px;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}




#portfolio {
  padding: 100px 0;
  background: $gray-lighter;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: $brand-primary;
  color: #FFF;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #FFF;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-color: #464648;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFF;
  box-shadow: 0 0 0 2px #FFF;
  -webkit-box-shadow: 0 0 0 2px #FFF;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

#testimonial {
  background: #686868;
  background-size: cover;
  padding: 100px 0;
  color: #FFF;
}
#testimonial h4 {
  color: #FFF;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}




#cta {
  padding: 50px 0;
  background-color: $gray-lighter;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #FFF;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #FFF;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: $brand-primary;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
