

<section id="about" >
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">ΜΕΘΟΔΟΛΟΓΙΑ</h2>
            <p class="text-center wow fadeInDown"></p>
        </div>

        <div class="row text-justify">
            <div class="features">
                <div class="col-md-6">

                  <div class="media service-box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h4 class="media-heading">
                      <i class="fa fa-child"></i>
                      ΕΠΙΚΟΙΝΩΝΙΑΚΗ ΠΡΟΣΕΓΓΙΣΗ
                    </h4>
                    <div class="media-body">
                      <p>
                      Η διδασκαλία μας έχει ως κύριο άξονα την επικοινωνιακή προσέγγιση στην εκμάθηση των γλωσσών,
                      κατά την οποία ο στόχος είναι η χρήση της ξένης γλώσσας ως εργαλείου επικοινωνίας.
                      Μακριά από αναχρονιστικές λογικές απλής παράθεσης γνώσεων και στείρας απομνημόνευσης,
                      φιλοδοξούμε να παρέχουμε στους μαθητές μας τα ερεθίσματα να χρησιμοποιούν διαρκώς την
                      ξένη γλώσσα με τρόπο ώστε να επικοινωνούν σωστά.
                      </p>
                      <p>
                      Κατά τη σύγχρονη διδακτική των γλωσσών,
                      για να μάθει κανείς με τον καλύτερο τρόπο μια ξένη γλώσσα, είναι πολύ σημαντικό να εκμεταλλευτεί
                      τους ήδη δοκιμασμένους μαθησιακούς μηχανισμούς που ανέπτυξε μαθαίνοντας τη μητρική του.
                      Στο πλαίσιο μιας τέτοιας προσέγγισης, <strong>δεν ευνοούνται μόνο «όσοι έχουν ταλέντο» ή «είναι μελετηροί», αλλά όλοι ανεξαιρέτως.</strong>
                      </p>
                    </div>
                  </div>

                  <div class="media service-box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h4 class="media-heading">
                      <i class="fa fa-book"></i>
                      ΔΙΔΑΚΤΙΚΟ ΥΛΙΚΟ
                    </h4>
                    <div class="media-body">
                      <p>
                      <strong>Τα βιβλία που χρησιμοποιούμε επιλέγονται προσεκτικά, με γνώμονα τη διδακτική τους αξία.</strong>
                      Αν και αποτελούν τον κορμό του διδακτικού μας υλικού, δεν περιοριζόμαστε σε αυτά.
                      </p>
                      <p>
                      Στο σχολείο μας λειτουργεί δανειστική βιβλιοθήκη με βιβλία για όλα τα ενδιαφέροντα και όλα τα επίπεδα.
                      Επιπλέον, εκμεταλλευόμαστε τις τεράστιες δυνατότητες που προσφέρει το διαδίκτυο,
                      ενθαρρύνοντας τους μαθητές μας να οργανώνουν παρουσιάσεις  γύρω από θέματα του ενδιαφέροντός τους,
                      δίνοντάς τους έτσι τη δυνατότητα να αποκτήσουν πολύτιμες επικοινωνιακές δεξιότητες.
                      </p>
                      <p>
                      Οργανώνουμε σεμινάρια και τηλεδιασκέψεις
                      με τους φορείς των εξετάσεων, με ενδιαφέροντες ανθρώπους αλλά και με άλλα σχολεία σε άλλες χώρες,
                      κάνουμε εκπαιδευτικά ταξίδια, βλέπουμε ταινίες, ακούμε μουσική κ.ά.
                      </p>
                    </div>
                  </div>

                </div><!--/.col-md-6-->

                <div class="col-md-6">

                  <div class="media service-box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h4 class="media-heading">
                      <i class="fa fa-university"></i>
                      ΚΥΚΛΟΙ ΣΠΟΥΔΩΝ
                    </h4>
                    <div class="media-body">
                      <p>
                      Τα προγράμματά μας είναι προσεκτικά σχεδιασμένα ώστε να είναι ευέλικτα και να ανταποκρίνονται 
                      στις ανάγκες και τις απαιτήσεις όλων. <strong>Ιδιαίτερη προσοχή έχει δοθεί στο σχεδιασμό ξεχωριστών
                        κύκλων σπουδών</strong> ανάλογα με την ηλικία του σπουδαστή και τους ακαδημαϊκούς στόχους
                      ανά επίπεδο. Επιπλέον, <strong>οι κύκλοι σπουδών μας είναι εναρμονισμένοι με τα επίπεδα του Κοινού 
                        Ευρωπαϊκού Πλαισίου Αναφοράς για τις Γλώσσες
                        (CEFR)</strong>, ξεκινούν με το πρόγραμμα PREPARATORY και ολοκληρώνονται με το πρόγραμμα PROFICIENT.
                      </p>
                      <p>
                      Ανά περίπτωση και αναλόγως με τις ανάγκες, σχεδιάζονται ειδικά προγράμματα για ενήλικες,
                      false beginners ανεξαρτήτως ηλικίας, υποψήφιους φοιτητές στο εξωτερικό, εταιρικούς πελάτες και συνεργάτες,
                      ενώ γίνεται υπεύθυνη προετοιμασία στα ειδικά μαθήματα των Πανελλαδικών Εξετάσεων.
                      </p>
                    </div>
                  </div>

                  <div class="media service-box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h4 class="media-heading">
                      <i class="fa fa-star-o"></i>
                      ΑΞΙΟΛΟΓΗΣΗ
                    </h4>
                    <div class="media-body">
                      <p>
                      Η αξιολόγηση των επιδόσεων των σπουδαστών μας είναι όχι μόνο ποσοτική αλλά και περιγραφική.
                      Η παραδοσιακή λογική της απλής, ποσοτικής αποτίμησης και της μέτρησης των επιδόσεων μέσω
                      αριθμητικής βαθμολογίας δεν μπορεί να αποτελεί τον κύριο άξονα ενός συστήματος αξιολόγησης.
                      </p>
                      <p>
                      Με την περιγραφική αξιολόγηση δίνεται έμφαση στο βαθμό επίτευξης των διδακτικών και παιδαγωγικών στόχων,
                      <strong>λαμβάνοντας υπόψη τον προσωπικό ρυθμό μάθησης</strong> και το επίπεδο του σπουδαστή.
                      Αναδεικνύονται και ενθαρρύνονται οι θετικές πλευρές της μαθησιακής αλλά και κοινωνικής
                      συμπεριφοράς του παιδιού, επισημαίνονται τυχόν αρνητικά στοιχεία και δίνονται εξατομικευμένες 
                      ιδέες και συμβουλές για βελτίωση, όπου είναι αναγκαίο.
                      </p>
                    </div>
                  </div>

                </div><!--/.col-md-6-->

            </div><!--/.row-->
        </div><!--/.container-->
</section><!--/#services-->
