

<h1 class="slider-header">
  <div class="container">DONE LANGUAGE SCHOOL - ΑΓΓΛΙΚΑ - ΓΕΡΜΑΝΙΚΑ</div>
</h1>
<section id="main-slider">
    <div class="owl-carousel wow fadeIn">

        <div class="item" style="background-image: url(images/slider/school.jpg);">
           <div class="slider-inner">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="carousel-content">
                             <h2>ΓΙΑΤΙ ΝΑ ΜΑΣ ΕΜΠΙΣΤΕΥΘΕΙΤΕ</h2>
                             <p>
                               Μακριά από αναχρονιστικές λογικές απλής παράθεσης γνώσεων και στείρας απομνημόνευσης, φιλοδοξούμε να παρέχουμε στους μαθητές μας τα ερεθίσματα να χρησιμοποιούν διαρκώς την ξένη γλώσσα με τρόπο ώστε να επικοινωνούν σωστά.
                             </p>
                             <p><a class="btn btn-primary btn-lg" href="#about">Μάθετε περισσότερα</a></p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div><!--/.item-->

         <div class="item" style="background-image: url(images/slider/bg2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>ΟΙ ΕΓΓΡΑΦΕΣ ΑΡΧΙΣΑΝ</h2>
                                <p>Οι εγγραφές για το σχολικό έτος 2015 - 2016 ξεκίνησαν.</p>
                                <p>Καλέστε μας στo <b>22210 60463</b> ή στο <b>6972 331023</b> για περισσότερες πληροφορίες.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

        <div class="item" style="background-image: url(images/slider/bg1.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>ΚΑΛΗ ΣΧΟΛΙΚΗ ΧΡΟΝΙΑ</h2>
                                <p>Επιστρέφουμε και συνεχίζουμε με χαρά, αισιοδοξία και δημιουργικότητα!</p>
                                <!--<a class="btn btn-primary btn-lg" href="#">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

        <div class="item" style="background-image: url(images/slider/facebook.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>WE ARE SOCIAL</h2>
                                <p>Μπορείτε να μαθαίνετε πρώτοι τα νέα της σχολής και μέσα από την σελίδα μας στο Facebook!</p>
                                <p>
                                  <a class="btn btn-primary btn-lg" href="https://www.facebook.com/pages/DONE-%CE%94%CE%B9%CE%B1%CE%BA%CE%BF%CE%BC%CF%8C%CF%80%CE%BF%CF%85%CE%BB%CE%BF%CF%82/742347162490616" target="_blank">
                                    Join Us
                                  </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->
