

<section id="main-slider">
    <div class="owl-carousel">
         <div class="item" style="background-image: url(images/slider/bg2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>ΟΙ ΕΓΓΡΑΦΕΣ ΑΡΧΙΣΑΝ</h2>
                                <p>Οι εγγραφές για το σχολικό έτος 2015 - 2016 ξεκίνησαν.</p>
                                <p>Καλέστε μας στo <b>22210 60463</b> ή στο <b>6972 331023</b> για περισσότερες πληροφορίες.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(images/slider/bg1.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>ΚΑΛΗ ΣΧΟΛΙΚΗ ΧΡΟΝΙΑ</h2>
                                <p>Επιστρέφουμε και συνεχίζουμε με χαρά, αισιοδοξία και δημιουργικότητα!</p>
                                <!--<a class="btn btn-primary btn-lg" href="#">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->
