

<section id="contact">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">επικοινωνια</h2>
      <p class="text-center wow fadeInDown"> Επικοινωνήστε μαζί μας στα τηλέφωνα και το email του σχολείου ή ελάτε να γνωριστούμε από κοντά.</p>
    </div>
  </div>
</section>

<section id="contact-form">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-7">
        <div class="contact-form">
          <h3>Done Language School</h3>
          <p> Διεύθυνση Σπουδών:
            <strong>Γιάννης Διακομόπουλος</strong>
            <br> Πτυχιούχος Αγγλικής Φιλολογίας Πανεπιστημίου Αθηνών </p>
          <address>
            <strong>Αργυροκαστρίτου 2, Χαλκίδα</strong>
            <br>
            <abbr title="Phone">Τηλέφωνο</abbr> 22210 60463
            <br>
            <abbr title="Mobile">Κινητό</abbr> 6972 331023
            <br>
            <abbr title="Email">E-mail</abbr> info@diacomopoulos.gr </address>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="google-map" style="height:550px" data-latitude="38.4700931" data-longitude="23.6105893"></div> -->
  <a href="https://goo.gl/maps/2Xsh6Sqcen52" target="_blank" style="display:block;width:100%;height:550px;background:url('/images/map.jpg') 50%;"></a>

</section>
