

<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Γιατί να μας εμπιστευθείτε</h2>
                <p>
                  Με χρήση σύγχρονων διδακτικών μεθόδων, μακριά από αναχρονιστικές λογικές απλής παράθεσης γνώσεων και στείρας απομνημόνευσης, φιλοδοξούμε να παρέχουμε στους μαθητές μας τα ερεθίσματα να χρησιμοποιούν διαρκώς την ξένη γλώσσα με τρόπο ώστε να επικοινωνούν σωστά.
                </p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-primary btn-lg" href="/about-us">Μάθετε περισσότερα</a>
            </div>
        </div>
    </div>
</section><!--/#cta-->
