
    <footer id="footer">
      <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 Γιάννης Διακομόπουλος</a>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a id="facebook-icon" target="_blank" href="https://www.facebook.com/pages/DONE-%CE%94%CE%B9%CE%B1%CE%BA%CE%BF%CE%BC%CF%8C%CF%80%CE%BF%CF%85%CE%BB%CE%BF%CF%82/742347162490616" style="  color: #4862A2;"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
      </div>
    </footer><!--/#footer-->
