

{% comment %}
<!-- EXAMPLE GALLERY -->
<!--
<div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="large-image.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="small-image.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="large-image.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="small-image.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>
</div>
-->
{% endcomment %}

<section id="gallery">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">ΧΩΡΟΣ ΕΜΠΝΕΥΣΗΣ</h2>
      <div class="row wow fadeInDown">
        <div class="col-md-6">
          <p>
            Άνετος χώρος υποδοχής, βιβλιοθήκη και ηλεκτρονικοί υπολογιστές για
            κοινή χρήση και μελέτη, "γωνιά" δημιουργικής απασχόλησης για τα
            μικρότερα παιδιά, σύγχρονες αίθουσες διδασκαλίας, εξοπλισμένες με
            διαδραστικούς πίνακες, ευήλιες, ευχάριστες και προσεγμένες στην κάθε
            λεπτομέρεια.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Όλοι οι χώροι είναι προσεκτικά σχεδιασμένοι, με υψηλή αισθητική,
            διαμορφώνοντας ένα φιλικό μαθησιακό περιβάλλον αυτενέργειας,
            συνεργασίας και δημιουργικότητας.
          </p>
        </div>
      </div>
    </div>

    <div class="gallery row wow fadeInUp" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-3">
        <a href="images/school/01.jpg" itemprop="contentUrl" data-size="1000x662" class="thumbnail">
          <img class="img-responsive" src="images/school/01_t.jpg" alt="">
        </a>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-3">
        <a href="images/school/02.jpg" itemprop="contentUrl" data-size="1000x662" class="thumbnail">
          <img class="img-responsive" src="images/school/02_t.jpg" alt="">
        </a>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-3">
        <a href="images/school/05.jpg" itemprop="contentUrl" data-size="1000x662" class="thumbnail">
          <img class="img-responsive" src="images/school/05_t.jpg" alt="">
        </a>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-3">
        <a href="images/school/06.jpg" itemprop="contentUrl" data-size="1000x662" class="thumbnail">
          <img class="img-responsive" src="images/school/06_t.jpg" alt="">
          </a>
      </figure>
    </div>

  </div>
  <!--/.container-->
</section>
<!--/#portfolio-->
