

<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll"><a href="/">Αρχική</a></li>
                    <!-- <li class="scroll"><a href="#features">Features</a></li> -->
                    <!-- <li class="scroll"><a href="#services">Services</a></li> -->
                    <!-- <li class="scroll"><a href="/#portfolio">Ο χώρος μας</a></li> -->
                    <li class="scroll"><a href="/about-us">Σχετικά με μας</a></li>
                    <!-- <li class="scroll"><a href="#meet-team">Ομάδα</a></li> -->
                    <!-- <li class="scroll"><a href="#blog">Blog</a></li> -->
                    <li class="scroll"><a href="/#get-in-touch">Επικοινωνία</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->
