

<section id="newsletter">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown animated">Εγγραφη στο Newsletter</h2>
    </div>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="text-center">
      <form action="//diacomopoulos.us11.list-manage.com/subscribe/post?u=7414cd13853bd1e2eff1e8bd7&amp;id=7f10cd3e62" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email" required style="min-width: 300px;">
          <button type="submit" name="subscribe" class="btn btn-primary">Εγγραφή</button>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_7414cd13853bd1e2eff1e8bd7_7f10cd3e62" tabindex="-1" value="">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
