

<section id="testimonial" class="hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <p><img class="img-circle img-thumbnail" src="images/yiannis.jpg" alt="Yiannis Diacomopoulos"></p>
              <h4>Γιάννης Διακομόπουλος</h4>
              <small>Καθηγητής Αγγλικής Γλώσσας</small>
              <p>
                Γεννημένος στην Χαλκίδα το 1974.<br>
                Σπούδασε αγγλική φιλολογία στο Πανεπιστήμιο Αθηνών. <br>
                Μεγάλες αγάπες της ζωής του είναι η διδασκαλία και η μουσική. Το πρώτο επέλεξε να το κάνει και επάγγελμα!<br>
              </p>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->
