

<section id="youtube">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">BLOG</h2>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="/blog/continuous-tenses">
          <img src="/images/vid3.jpg" alt="" class="img-responsive img-thumbnail" />
          <span class="text-muted">Οι Continuous χρόνοι στην αγγλική γλώσσα</span>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="/blog/perfect-tenses">
          <img src="/images/vid2.jpg" alt="" class="img-responsive img-thumbnail" />
          <span class="text-muted">Οι Perfect χρόνοι στην αγγλική γλώσσα</span>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="/blog/english-tenses">
          <img src="/images/vid1.jpg" alt="" class="img-responsive img-thumbnail" />
          <span class="text-muted">Οι χρόνοι της αγγλικής γλώσσας</span>
        </a>
      </div>
    </div>
  </div>
</section>
