

<section id="youtube">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">BLOG</h2>
    </div>
    <div class="row">

      <!-- video 5 -->
      <div class="col-md-4 text-center">
        <a href="/blog/geround">
          <img src="/images/vid5.jpg" alt="" class="img-responsive img-thumbnail" /><br />
          <span class="text-muted">Μαθήματα αγγλικών: Το Γερούνδιο (ρήμα+ing)</span><br /><br />
        </a>
      </div>
      <!-- video 4 -->
      <div class="col-md-4 text-center">
        <a href="/blog/phrasal-verbs">
          <img src="/images/vid4.jpg" alt="" class="img-responsive img-thumbnail" /><br />
          <span class="text-muted">Phrasal verbs: Δεν είναι τόσο δύσκολα!</span><br /><br />
        </a>
      </div>
      <!-- video 3 -->
      <div class="col-md-4 text-center">
        <a href="/blog/continuous-tenses">
          <img src="/images/vid3.jpg" alt="" class="img-responsive img-thumbnail" /><br />
          <span class="text-muted">Οι Continuous χρόνοι στην αγγλική γλώσσα</span><br /><br />
        </a>
      </div>
      <!-- video 2 -->
      <div class="col-md-4 text-center">
        <a href="/blog/perfect-tenses">
          <img src="/images/vid2.jpg" alt="" class="img-responsive img-thumbnail" /><br />
          <span class="text-muted">Οι Perfect χρόνοι στην αγγλική γλώσσα</span><br /><br />
        </a>
      </div>
      <!-- video 1 -->
      <div class="col-md-4 text-center">
        <a href="/blog/english-tenses">
          <img src="/images/vid1.jpg" alt="" class="img-responsive img-thumbnail" /><br />
          <span class="text-muted">Οι χρόνοι της αγγλικής γλώσσας</span><br /><br />
        </a>
      </div>

    </div>
  </div>
</section>
