

body {
  animation: reveal 1s;
}

@keyframes reveal {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.slider-header {
  position: absolute;
  top: 100px;
  z-index: 1000;
  left: 0;
  width: 100%;
  background: rgba(#000, .5);
  margin: 0;
  padding: 5px 10px 3px;
  font-size: 1em;
  color: #FFF;
}

#newsletter{
  padding: 100px 0;
  background-color: #EEE;
}

#gallery {
  padding: 100px 0;
  background: $gray-lighter;
  p {
    text-align: justify;
  }
}

#about {
  padding: 100px 0 50px;
}

#contact {
  padding: 100px 0 50px;
  background-color: #464648;
  color: #FFF;
  margin-top: 1px;
   h1, h2 {
    color: #FFF;
  }
}

#contact-form {
  position: relative;
  overflow: hidden;
  .contact-form {
    background: rgba(255, 255, 255, .9);
    padding: 30px 30px 10px;
    top: 20px;
    z-index: 1000;
    position: absolute;
    line-height: 1.5;
    border-radius: 4px;
    address {
      line-height: 2;
    }
    abbr {
      display: inline-block;
      width: 100px;
      border: 0;
    }
    h3 {
      color: #444;
      margin-top: 0;
    }
  }
}

#footer{
  line-height:70px;
  text-align: center;
  background-color: $gray-lighter;
  margin-top: 1px;
}

.carousel-content {
  p {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
}

.fa-facebook-square {
  font-size: 48px;
}

.gm-style-mtc {
  display: none;
}

.post {
  margin-bottom: 100px;
}

.post-content {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.6;
  .container {
    max-width: 700px;
  }
  p {
    margin-bottom: 40px;
  }
  img {
    @extend .img-responsive;
  }
}

.post-meta {
  color: #AAA;
  font-size: .8em;
}

.post-header {
  .container {
    position: relative;
    height: 558px;
    padding: 100px 0;
  }
  h1 {
    font: 800 4em 'Open Sans', 'Roboto', sans-serif;
    margin: 0;
    z-index: 2;
    color: #FFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgba(#000, .2);
  }
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 50px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, .3);
    z-index: 0;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/images/mask.png");
    z-index: 1;
    opacity: .5;
  }
}

.blog-index {
  border-top: 1px #EEE solid;
  min-height: 500px;
  .list-group-item {
    border-width: 0 0 1px 0;
    border-color: #EEE;
    border-radius: 0;
    padding: 30px 10px;
    line-height: 1;
    .badge {
      background: none;
      color: #AAA;
      font-size: 1em;
      font-weight: normal;
      padding: 0;
    }
  }
}
