<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="home" class="homepage">

    {% include analytics.html %}
    {% include navbar-main.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include pswp.html %}

    <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/mousescroll.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/smoothscroll.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/jquery.inview.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>

    <script src="//maps.google.com/maps/api/js?sensor=true"></script>

    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/photoswipe.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/photoswipe-ui-default.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/gallery.js" | prepend: site.baseurl }}"></script>

    <!--
    <script src="{{ "/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
    -->

  </body>

</html>
