---
layout: default
---

<div class="post">

  <header class="post-header" style="background-image: url('/images/blog/{{ page.image }}');">
    <div class="container">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
  </header>

  <article class="post-content">
    <div class="container">
        <p class="post-meta">
          {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
        </p>
        {{ content }}
    </div>
  </article>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_responsive_sharing"></div>

</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=vasilis" async="async"></script>
